<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.org.fun.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.org.fun.entity.User">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="gender" property="gender" />
        <result column="password" property="password" />
        <result column="birthday" property="birthday" />
        <result column="idCard" property="idCard" />
        <result column="nativePlace" property="nativePlace" />
        <result column="email" property="email" />
        <result column="phone" property="phone" />
        <result column="address" property="address" />
        <result column="jobLevelId" property="jobLevelId" />
        <result column="departmentId" property="departmentId" />
        <result column="targetId" property="targetId" />
        <result column="beginDate" property="beginDate" />
        <result column="workState" property="workState" />
        <result column="workID" property="workID" />
        <result column="contractTerm" property="contractTerm" />
        <result column="conversionTime" property="conversionTime" />
        <result column="notWorkDate" property="notWorkDate" />
        <result column="beginContract" property="beginContract" />
        <result column="endContract" property="endContract" />
        <result column="workAge" property="workAge" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, gender, password,birthday, idCard, nativePlace, email, phone, address, jobLevelId, departmentId, targetId, beginDate, workState, workID, contractTerm, conversionTime, notWorkDate, beginContract, endContract, workAge, gmt_create, gmt_modified
    </sql>

</mapper>
